li {
margin: 10px;
list-style: none;
}

p {
font-family: $rale;
}

h1{
  font-size: $xxxxx-large;
  font-family: $rale;
  font-weight: bold;
}
h2{
  font-size: $xxxx-large;
  font-family: $rale;
  font-weight: bold;
}
h3{
  font-size: $x-large;
  font-family: $rale;

}
