//familia de fuentes
$rale: 'Raleway', sans-serif ;
$sans: 'Open Sans', sans-serif ;

//tamaño de fuentes
$xxxxx-large: 50px ;
$xxxx-large: 45px ;
$xxx-large: 40px ;
$xx-large: 35px ;
$x-large: 30px ;
$large: 20px ;
$medium: 16px ;
$small: 14px ;
$x-small: 12px ;

//Colores
$black: #000000;
//1ra paleta
$white: #ffffff ;
$plata: #E8E8E8 ;
$gray: #BABABA ;

//2da paleta
$salmon: #EE8940 ;
$melon: #F4BAAE ;
$pink-p: #FADFDA ;

//3ra paleta
$ball-b: #2AB7CA ;
$middle-b:#77D1DD ;
$blue-l:#B1E4EB ;

//4ta paleta
$onyx: #333745 ;
$s-gray: #8F9199 ;
$l-gray: #C7C8CC ;

//5ta paleta
$r-black: #221D23 ;
$nickel: #726F73 ;
$s-chalice: #AEACAF ;
