/*@import 'vendors/bs/bootstrap';*/
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

li {
  margin: 10px;
  list-style: none;
}

p {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 45px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.footer {
  display: grid;
  align-items: center;
  background-color: #221D23;
  width: 100%;
  grid-template-columns: 45% 45%;
}
.footer__listado {
  display: flex;
  color: #BABABA;
}
.footer li {
  display: inline-block;
}
.footer__marca {
  display: flex;
  justify-content: right;
  color: #BABABA;
}

@media screen and (max-width: 768px) {
  .footer__listado {
    justify-content: center;
    font-size: 16px;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer__marca {
    justify-content: center;
    font-size: 16px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media screen and (max-width: 600px) {
  .footer__listado {
    justify-content: center;
    font-size: 14px;
  }

  .footer__marca {
    justify-content: center;
    font-size: 14px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media screen and (max-width: 320px) {
  .footer__listado {
    justify-content: center;
    font-size: 12px;
  }

  .footer__marca {
    justify-content: center;
    font-size: 12px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Columns/*==========================================================================*/
.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span12;
  }

  .col-sm-11 {
    grid-column: span11;
  }

  .col-sm-10 {
    grid-column: span10;
  }

  .col-sm-9 {
    grid-column: span9;
  }

  .col-sm-8 {
    grid-column: span8;
  }

  .col-sm-7 {
    grid-column: span7;
  }

  .col-sm-6 {
    grid-column: span6;
  }

  .col-sm-5 {
    grid-column: span5;
  }

  .col-sm-4 {
    grid-column: span4;
  }

  .col-sm-3 {
    grid-column: span3;
  }

  .col-sm-2 {
    grid-column: span2;
  }

  .col-sm-1 {
    grid-column: span1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span12;
  }

  .col-md-11 {
    grid-column: span11;
  }

  .col-md-10 {
    grid-column: span10;
  }

  .col-md-9 {
    grid-column: span9;
  }

  .col-md-8 {
    grid-column: span8;
  }

  .col-md-7 {
    grid-column: span7;
  }

  .col-md-6 {
    grid-column: span6;
  }

  .col-md-5 {
    grid-column: span5;
  }

  .col-md-4 {
    grid-column: span4;
  }

  .col-md-3 {
    grid-column: span3;
  }

  .col-md-2 {
    grid-column: span2;
  }

  .col-md-1 {
    grid-column: span1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span12;
  }

  .col-lg-11 {
    grid-column: span11;
  }

  .col-lg-10 {
    grid-column: span10;
  }

  .col-lg-9 {
    grid-column: span9;
  }

  .col-lg-8 {
    grid-column: span8;
  }

  .col-lg-7 {
    grid-column: span7;
  }

  .col-lg-6 {
    grid-column: span6;
  }

  .col-lg-5 {
    grid-column: span5;
  }

  .col-lg-4 {
    grid-column: span4;
  }

  .col-lg-3 {
    grid-column: span3;
  }

  .col-lg-2 {
    grid-column: span2;
  }

  .col-lg-1 {
    grid-column: span1;
  }
}
.banner__fondo {
  background-image: url("../img/bg-hero.png");
  background-position: center;
  background-size: cover;
  height: 51rem;
}

.banner__contenido {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.banner__contenido--titulo {
  display: grid;
  width: 35%;
  margin-left: 5%;
  grid-column-start: 1;
  grid-column-end: 5;
}
.banner__contenido--subtitulo {
  display: grid;
  width: 35%;
  margin-left: 5%;
  height: 25%;
}
.banner__contenido--subtitulo p {
  font-size: 20px;
  color: #000000;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .banner__fondo {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 74rem;
    background-position: right;
  }

  .banner__contenido--titulo {
    text-align: center;
    display: grid;
  }

  .banner__contenido--subtitulo {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  .banner__fondo {
    background-size: cover;
    background-repeat: no-repeat;
    width: 150%;
    height: 74rem;
    background-position: right;
  }

  .banner__contenido--titulo {
    text-align: center;
    display: grid;
  }

  .banner__contenido--subtitulo {
    display: flex;
  }
}
@media screen and (max-width: 320px) {
  .banner__fondo {
    background-size: cover;
    background-repeat: no-repeat;
    width: 230%;
    height: 74rem;
    background-position: right;
  }

  .banner__contenido--titulo {
    text-align: center;
    display: grid;
  }

  .banner__contenido--subtitulo {
    display: flex;
  }
}
.barra-nav {
  display: grid;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.barra-nav__logo {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: center;
}
.barra-nav__menu {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 6;
}
.barra-nav__acceso {
  padding-top: 24px;
  display: flex;
  grid-column-start: 9;
  grid-column-end: 11;
  justify-content: center;
}
.barra-nav__acceso p {
  font-weight: bold;
}
.barra-nav__boton {
  padding-top: 24px;
  display: flex;
  grid-column-start: 11;
  grid-column-end: 12;
}

.barra-nav__menu li {
  display: inline-block;
}

.barra-nav__barras {
  display: none;
}

@media screen and (max-width: 1200px) {
  .barra-nav__logo {
    justify-content: flex-start;
    margin-top: 10px;
  }

  .barra-nav__menu {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 8;
    justify-content: center;
  }

  .barra-nav__acceso {
    display: flex;
    grid-column-start: 9;
    grid-column-end: 11;
    justify-content: center;
    align-items: center;
  }

  .barra-nav__boton {
    align-items: center;
    display: flex;
    grid-column-start: 11;
    grid-column-end: 12;
  }
}
@media screen and (max-width: 768px) {
  .barra-nav__logo {
    justify-content: flex-start;
    margin-top: 10px;
  }

  .barra-nav__barras {
    display: flex;
    align-self: center;
    grid-column-start: 12;
    grid-column-end: 13;
  }

  .barra-nav__menu {
    display: none !important;
  }

  .barra-nav__acceso {
    display: none !important;
  }

  .barra-nav__boton {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  .barra-nav__logo {
    justify-content: flex-start;
    margin-top: 10px;
  }

  .barra-nav__menu {
    display: none !important;
  }

  .barra-nav__barras {
    display: flex;
    align-self: center;
    grid-column-start: 12;
    grid-column-end: 13;
  }

  .barra-nav__acceso {
    display: none !important;
  }

  .barra-nav__boton {
    display: none !important;
  }
}
@media screen and (max-width: 320px) {
  .barra-nav__logo {
    justify-content: flex-start;
    margin-top: 10px;
  }

  .barra-nav__menu {
    display: none !important;
  }

  .barra-nav__acceso {
    display: none !important;
  }

  .barra-nav__boton {
    display: none !important;
  }

  .barra-nav__barras {
    display: flex;
    align-self: center;
    grid-column-start: 12;
    grid-column-end: 13;
  }
}
.caracteristicas {
  display: grid;
}
.caracteristicas__titulo {
  text-align: center;
}
.caracteristicas__contenido {
  display: grid;
  grid-template-columns: 30% 30%;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10%;
}
.caracteristicas__estadisticas {
  text-align: justify;
}

.img--grafico {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.img--grafico:hover {
  opacity: 0.3;
}

@media screen and (max-width: 992px) {
  .caracteristicas__contenido {
    grid-template-columns: 50%;
    justify-content: center;
  }
}
@media screen and (max-width: 766px) {
  .caracteristicas__contenido {
    grid-template-columns: 50%;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .caracteristicas__contenido {
    grid-template-columns: 50%;
    justify-content: center;
  }
}
@media screen and (max-width: 320px) {
  .caracteristicas__contenido {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .titulo--carac {
    font-size: 2rem;
  }

  .caracteristicas__estadisticas {
    width: 95%;
  }

  .img--grafico {
    width: 95%;
  }
}
.precios__fondo {
  background-image: url("../img/bg-price.png");
  background-position: center;
  background-size: cover;
  height: auto;
}

.precios__texto--titulo {
  text-align: center;
  padding-top: 12%;
  color: #ffffff;
}

.precios__ofertas {
  display: grid;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  grid-template-columns: 24% 25%;
  grid-column-gap: 5%;
}
.precios__ofertas--info {
  display: grid;
  background-color: #ffffff;
  margin: 3%;
  padding: 2rem;
}
.precios__ofertas--lista {
  padding-left: 0;
  font-size: 14px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.precios__ofertas--lista li {
  list-style: initial;
}

@media only screen and (max-width: 768px) {
  .precios__ofertas {
    grid-template-columns: 50%;
  }

  .precios__texto--titulo {
    padding-top: 40%;
  }
}
@media only screen and (max-width: 600px) {
  .precios__ofertas {
    grid-template-columns: 50%;
  }

  .precios__texto--titulo {
    padding-top: 40%;
  }
}
@media only screen and (max-width: 320px) {
  .precios__ofertas {
    grid-template-columns: 1fr;
  }

  .precios__texto--titulo {
    padding-top: 70%;
  }
}
.barra-nav__boton-estilo {
  background-color: #2AB7CA;
  color: #ffffff;
  width: 110px;
  height: 50px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.precios__ofertas--boton {
  background-color: #2AB7CA;
  color: #ffffff;
  font-size: 12px;
  border: none;
  font-weight: normal;
  width: 100%;
  height: 2.8rem;
}

/*# sourceMappingURL=style.css.map */
