//Características
.caracteristicas{
  display: grid;

  &__titulo{
text-align: center;
 }
 &__contenido{
display: grid;
grid-template-columns: 30% 30%;
justify-content: center;
align-items: center;
grid-column-gap: 10%;
 }

&__estadisticas{
  text-align: justify;
}
}
.img--grafico{
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  }
  .img--grafico:hover{
    opacity: 0.3;
  }



@media screen and (max-width: 600px) {
  .caracteristicas__contenido {
    grid-template-columns: 50%;
    justify-content: center;

  }
}
@media screen and (max-width: 766px) {
  .caracteristicas__contenido {
    grid-template-columns: 50%;
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .caracteristicas__contenido {
    grid-template-columns: 50%;
    justify-content: center;
  }
}
@media screen and (max-width: 320px) {
  .caracteristicas__contenido {
    grid-template-columns: 1fr;
    justify-content: center;
    }
    .titulo--carac{
      font-size: 2rem;
    }
.caracteristicas__estadisticas{
  width: 95%
}
.img--grafico{
  width: 95%;
}
}
//precios
.precios__fondo {
  background-image: url("../img/bg-price.png");
  background-position: center;
  background-size: cover;
  height: auto;
}

.precios__texto--titulo {
  text-align: center;
  padding-top: 12%;
  color: $white;
}

.precios__ofertas {
  display: grid;
  justify-content: center;
  font-family: $rale;
  grid-template-columns: 24% 25%;
  grid-column-gap: 5%;

  &--info {
    display: grid;
    background-color: $white;
    margin: 3%;
    padding: 2rem;
  }

  &--lista {
    padding-left: 0;
    font-size: $small;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    li {
      list-style: initial;
    }
  }
}

@media only screen and (max-width: 600px) {
  .precios__ofertas {
    grid-template-columns: 50%;
  }
  .precios__texto--titulo{
    padding-top: 40%;
  }

}
@media only screen and (max-width: 768px) {
  .precios__ofertas {
    grid-template-columns: 50%;
  }
  .precios__texto--titulo{
    padding-top: 40%;
  }
}
@media only screen and (max-width: 320px) {
  .precios__ofertas {
    grid-template-columns: 1fr;
  }
  .precios__texto--titulo {
    padding-top: 70%;
  }
}
