
.footer {
  display: grid;
  align-items: center;
  background-color: $r-black;
  width: 100%;
  grid-template-columns: 45% 45%;

  &__listado {
    display: flex;
    color: $gray;
  }

  li {
    display: inline-block;
  }

  &__marca {
    display: flex;
    justify-content: right;
    color: $gray;
  }
}
@media screen and (max-width: 600px) {
  .footer__listado {
    justify-content: center;
    font-size: $small;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer__marca {
    justify-content: center;
    font-size: $small;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (max-width: 320px) {
  .footer__listado {
    justify-content: center;
    font-size: $x-small;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer__marca {
    justify-content: center;
    font-size: $x-small;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
