
.banner__fondo {
  background-image: url("../img/bg-hero.svg");
  background-position: center;
  background-size: cover;
  height: 51rem;
  width: 100%;
}

.banner__contenido {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  &--titulo {
    display: grid;
    width: 35%;
    margin-left: 5%;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  &--subtitulo {
    display: grid;
    width: 35%;
    margin-left: 5%;
    height: 25%;

    p {
      font-size: $large;
      color: $black;
      text-align: justify;
    }
  }
}
@media screen and (max-width: 600px) {
  .banner__fondo{
      background-position: top;
  }

  .banner__contenido--titulo {
    text-align: center;
    display: grid;
    width: 70%;
  }

  .banner__contenido--subtitulo {
    display: flex;
    width: 70%;
  }
}

@media screen and (max-width: 320px) {
  .banner__fondo {
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: contain;
  }

  .banner__contenido--titulo {
    text-align: center;
    display: grid;
  }

  .banner__contenido--subtitulo {
    display: flex;
    width: 80%;
  }
}
