.banner__fondo{
  background-image: url("../img/bg-hero.png");
  background-position: center;
  background-size: cover;
  height: 48.125rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20%;

  &--titulo{
    display: grid;
    width: 35%;

  }

  &--subtitulo{
    display: grid;
    width: 35%;
    p{
      font-size: $large;
      color: $black;
      text-align: justify;
    }
  }
}
